= render 'products/shared/header'

%nav.breadCrumbs
  - breadcrumb :mypage
  = render "layouts/breadcrumbs"


.new_user
  .new_user__body
    .new_user__body__profile

    .new_user__body__content
      profile



= render 'products/shared/footer'

= render 'products/shared/purchase_btn'