.header {
  height: 107px;
  min-width: 700px;
  padding: 0 60px;

  &__headerInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding-top: 15px;

    &__mainHeader {
      position: relative;
      display: flex;
      align-items: center;

      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;

        a {
          width: 140px;
          display: block;

          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
      }

      &__searchBox {
        margin-left: auto;
        width: 100%;
        position: relative;

        form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
        }

        &--input {
          width: calc(100% - 26px);
          height: 36px;
          padding-left: 5px;
          line-height: 36px;
        }

        &__submit {
          width: 36px;
          border: 0;
          cursor: pointer;
          background-color: #3ccace;
          padding: 8px;

          img {
            width: 100%;
            vertical-align: bottom;
          }

          &--btn {
            position: absolute;
            top: 10px;
            right: 0.5px;
            display: none;
          }
        }

        #keyword {
          max-width: 870px;
          position: absolute;
          display: flex;
          z-index: 10;
          flex-wrap: wrap;

          .keyword-box {
            height: 100%;
            border: 1px solid #34AEB3;
            background-color: #ffffff;
            border-radius: 4px;
            box-shadow: 4px 4px 4px #999;
            margin-right: 10px;

            input[type="button"] {
              min-width: 30px;
              height: 20px;
              font-size: 13px;
              text-decoration: none;
              color: #3ccace;
              background: #ffffff;
              transition: .4s;
              border: #ffffff;
              padding: 0 0.9em;
              cursor: pointer;
            }

            input[type="button"]:hover {
              background: #62d4d7;
              color: white;
            }

            input[type="button"]:active {
              -webkit-transform: translateY(2px);
              transform: translateY(2px);
              box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
              background-image: linear-gradient(#b1e9eb 0%, #30a1a4 100%);
            }
          }

          .trash-btn {
            position: relative;

            .trash {
              position: absolute;
              bottom: 0;
              background-color: #ffffff;
              color: #3ccace;
              cursor: pointer;
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    &__nav {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;

      ul {
        list-style: none;
      }

      a {
        color: #333333;
        text-decoration: none;

        &:hover {
          color: #333333;
        }
      }

      &__listsLeft {
        position: relative;
        display: flex;

        a {
          padding-right: 10px;
        }

        &__item,
        &__brand {
          width: 140px;
          line-height: 32px;
          text-align: center;
        }

        line-height: 32px;
      }

      &__listsRight {
        margin-left: auto;
        display: flex;

        &__item {
          line-height: 32px;
          padding-left: 16px;
        }
      }
    }
  }
}