.form
  .product_header
    %h1
      = link_to (image_tag ("material/logo/logo.png"), size: "200x58"), root_path

  .form_body
    #product_form
      .purchase-box
        #product-about
          #product-about__title
            購入内容の確認
        #product-about
          #product-about__contents
            .pic
              = image_tag "product_01.png", size: "100x100"
            .discription
              %a 完売 GORETEX エアフォース1ゴアテックス
              %br
              %a 送料込み（税込み）¥22,500
        #product-about
          #product-about__contents
            .purchase-amount 
              %a 支払い金額:
              %a ¥22,500
        #product-about
          #product-about__contents
            .discription
              %a 支払い方法
        #product-about
          #product-about__contents
            .discription
              %a 配送方法
        #product-about
          #product-about__contents
            .discription
            %button.btn-default
              購入する


  

  .product_footer
    %ul.clearfix.regulation
      %li
        %a{href: "#"} プライバシーポリシー
      %li
        %a{href: "#"} フリマ利用規約
      %li
        %a{href: "#"} 特定商取引に関する表記
    %h1
      = link_to (image_tag ("material/logo/logo-white.png"), size: "200x58"), root_path
    %p
      %small © FURIMA, Inc.