.form
  = render 'shared/header'

  .form_body
    %h2.product_confirm 商品を出品しました！
    %h2.topback
      = link_to products_path do
        トップページへ戻る
    %h3.add_product
      = link_to new_product_path(@product) do
        さらに出品する

  = render 'shared/footer'