.main-content {
  width: 700px;

  &__content-title {
    text-align: center;
    font-size: 22px;
    padding: 16px;
    font-weight: bold;
  }

  &__content-box {
    background-color: #ffffff;

    &__profile {
      padding: 20px;
      display: flex;
      justify-content: center;

      &__icons {
        height: 60px;
        width: 60px;
        line-height: 60px;

        .icons {
          height: 50px;
          line-height: 50px;
          text-align: center;
          color: black;
        }

        .hidden {
          display: none;
        }
      }

      &__name {
        font-weight: bold;
        ;
        line-height: 60px;

        &__box {
          border: none;
        }
      }
    }

    &__comment {
      height: 100px;
      width: 100%;
      padding: 0px 10px;

      &__field {
        height: 100px;
        width: 100%;
      }
    }

    &__btn {
      text-align: center;
      padding: 40px;

      &__send-btn {
        height: 50px;
        width: 100%;
        color: #ffffff;
        background-color: red;
        border: none;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.fa-chevron-right {
  position: absolute;
  right: 16px;
  line-height: 50px;
}

.profiles {
  background-color: #ffffff;
  padding: 40px 50px 40px;

  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__preview {
      position: relative;
      width: 225px;
      height: 225px;

      .remove_icon {
        display: none;
      }

      img {
        object-fit: cover;
        border-radius: 50%;
        height: 225px;
        width: 225px;

      }

      &__myicons {
        background-color: gray;
        border-radius: 50%;
        width: 225px;
        height: 225px;
      }

      &__icons {
        text-decoration: none;
        color: rgba(3, 169, 244, 0.54);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        background: #f7f7f7;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);

        &__icon {
          position: absolute;
          content: '';
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 50%;
          font-size: 20px;
          background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
          text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
          box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
          border-bottom: solid 2px #b5b5b5;
          right: -5px;
          bottom: -3px;
          cursor: pointer;
        }

        &__icon:active {
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
          border-bottom: solid 2px #d8d8d8;

        }

        &__btn {
          display: none;
        }
      }

      #icon-del {
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 50%;
        cursor: pointer;
        height: 35px;
        width: 35px;
        font-size: 0.7em;
        border-radius: 50%;
        color: #3ccace;
        background: #ffffff;
        outline: none;
        transition: .4s;
        box-shadow: 4px 4px 4px #999;
        border: #3ccace 1px solid;
      }

      #icon-del:hover {
        background: #62d4d7;
        color: white;
      }

      #icon-del:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(#b1e9eb 0%, #30a1a4 100%);
      }
    }

    &__content {
      padding: 50px 5px 5px 5px;
      font-size: 20px;
      font-weight: bold;
    }

    .profile_text {
      resize: vertical;
      min-width: 400px;
      padding: 15px 15px;
      height: 120px;
      overflow: scroll;
      border: solid 1px #c0c0c0;
      margin-bottom: 50px;
      border-radius: 2px;
    }


  }
}

.profile-submit {
  display: inline-block;
  height: 40px;
  width: 200px;
  font-size: 18px;
  text-decoration: none;
  color: #3ccace;
  background: #ffffff;
  outline: none;
  transition: .4s;
  border-radius: 6px;
  border: 1px solid #34AEB3;
  box-shadow: 4px 4px 4px #999;
  padding: 0 1.2em;
  cursor: pointer;
}

.profile-submit:hover {
  background: #62d4d7;
  color: white;
}

.profile-submit:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#b1e9eb 0%, #30a1a4 100%);
}